body{
    font-family: Roboto; 
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    background-color: #e5d2a3;
}

p{
    margin: 0 0 1rem;
}
  
h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
  
h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:  "left-column right-column right-column";
    width: 1200px;
    margin: auto; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12); /*ombres*/
}

.left-column{
    grid-area: left-column;
    padding: 50px; 
    background-color: #23374e;
    color: white; 
}

.right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
        "header"
        "content";
    background-color: white;

    /*de cette manière on définit des colonnes et nn des lignes comme au dessus*/
}

.header{
    grid-area: header;
    padding: 50px; 
    background-color: #5a6b71;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    grid-area: content; 
    padding: 50px; 
}

.text-blue{
    color: #aecbe2;
}

.text-lightblue{
    color: #2f2f2f;
}

.text-uppercase{
    text-transform: uppercase; 
}

.icon{
    margin-right: .5rem;
}

.section{
    margin-bottom: 1.5rem;
}

.portrait{
    border-radius: 50%;
    max-width: 150px;
    margin:auto; 
    display: block;
    margin-bottom: 50px;
}

.skills{
    list-style-type: none;
    padding: 0; 
    font-size: 1.1rem;
    letter-spacing: 1px; 
    margin: 0 0 1rem; 
}

